{{#if loggedIn}}
  <h6 style="text-align: center"> Welcome back {{username}}!! You are logged in</h6>
{{/if}}

{{#each articles as |article|}}
  <div class="card">
    <div class="card-body">
      <p style="font-weight: bold">{{user.name}} - {{format_date createdAt}}</p>
     
      <h5 style="font-weight: bold" class="card-title">{{title}}</h5>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">{{subject}}</h6>
      <br>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">{{content}}</p>
      <a href="/articles/{{id}}" class="btn btn-secondary">Read</a>
      <form action="articles/{{id}}?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-danger">Delete</button>
      </form>
      
    
    </div>
  </div>
{{/each}}