  
  <div class="card">
    <div class="card-body">
      <p class="card-title" style="font-weight: bold">{{cleanPost.user.name}} - {{format_date cleanPost.createdAt}}</p>
      <h5 style="font-weight: bold" class="card-title">{{cleanPost.title}}</h5>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">{{cleanPost.subject}}</h6>
      <br>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">{{cleanPost.content}}</p>
      <a href="/" class="btn btn-secondary">Home</a>
      <form action="edit/{{cleanPost.id}}" method="GET" class="d-inline">
        <button class="btn btn-info">Edit</button>
      </form>
    </div>
  </div>

<h6 style="text-align: center">Comments</h6>

{{#each comments as |comment|}}
  <div class="container">
   <div class="card">
     <p style="font-weight: bold; font-size: 85%">{{user.name}} - {{format_date createdAt}}</p>
    <div class="card-body">
      <p class="card-title">{{comment.comment}}</p>
    </div>
  </div>
</div>
{{/each}}



  <div>
    <form action="/articles/comment/{{cleanPost.id}}" method="POST">
        {{> comment-form}}
    </form>
  </div>
