  
  <div class="card">
    <div class="card-body">
      <h6>{{format_date cleanPost.createdAt}} </h6>
      <h5 class="card-title">{{cleanPost.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{cleanPost.subject}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{cleanPost.date}}</h6>
      <p class="card-text">{{cleanPost.content}}</p>
      <a href="/" class="btn btn-secondary">Home</a>
      <form action="edit/{{cleanPost.id}}" method="GET" class="d-inline">
        <button class="btn btn-info">Edit</button>
      </form>
    </div>
  </div>

<h4 style="text-align: center;">Comments</h4>

{{#each comments as |comment|}}
   <div class="card">
    <div class="card-body">
      <h6>{{format_date comment.createdAt}}</h6>  
      <p class="card-title">{{comment.comment}}</p>
    </div>
  </div>
{{/each}}



  <div>
    <form action="/articles/comment/{{cleanPost.id}}" method="POST">
        {{> comment-form}}
    </form>
  </div>
